* {
    background-color: #f3f3f3;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.brand h4 {
    margin: 0;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input-wrapper {
    position: relative;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    background-color: white;
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    cursor: pointer;
    pointer-events: auto;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #6d6b6b;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease;
    padding-left: 10px;
}

.nav-links a:hover {
    color: black;
}



.add {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 50px;
}

.add div {
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add div:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.add div svg {
    font-size: 24px;
    color: white;
    background-color: #007bff;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.add div:hover svg {
    background-color: #0056b3;
}


.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    margin: 10px;
    width: 24rem;
    height: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background-color: white;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.card-body {
    padding: 20px;
}

.name {
    font-weight: 600;
    color: #2c3e50;
    font-size: 24px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.5rem;
    color: #6c757d;
}

.icons div {
    cursor: pointer;
    transition: color 0.3s ease;
}

/* .icons div:hover {
    color: #007bff;
} */

#edit:hover {
    color: #02cd31;
}

#view:hover {
    color: #007bff;
}

#delete:hover {
    color: #f22525;
}

.sec1 {
    font-weight: 600;
}

.sec2 {
    font-size: 14px;
    margin-bottom: 8px;
}

.sec1,
.sec2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
}

.sec1 div,
.sec2 div {
    flex: 1;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.img img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

form input {
    width: 250px;
    outline: none;
    border: 1px solid #ccc;
    margin-left: 15px;
    margin-bottom: 25px;
}

form input[type='text'] {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 5px;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
}

.btn button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 0;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.btns button {
    width: 100px;
    border: none;
    color: white;
    font-weight: 600;
    padding: 5px 0;
    border-radius: 10px;
}
